<h3>User new component</h3>

<form (submit)="create()">
  <input type="text" name="first_name" [(ngModel)]="newUser.first_name">
  <input type="text" name="last_name" [(ngModel)]="newUser.last_name">
  <input type="text" name="email" [(ngModel)]="newUser.email">

  <button type="submit">Send</button>
</form>